click==7.1.2
cPython==0.0.6
Flask==1.1.2
Flask-Babel==2.0.0
Flask-Table==0.5.0
hidapi==0.9.0.post3
idna==2.9
importlib-metadata==1.5.0
ipykernel==5.1.4
ipython==7.13.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
Jinja2==2.11.2
libusb==1.0.22b9
MarkupSafe==1.1.1
requests==2.23.0
urllib3==1.25.9
uWSGI==2.0.19.1
Werkzeug==1.0.1
nginx==0.0.1
