{% extends "base.html" %}
{% block Title %}Welcome{% endblock %}

{% block body %}
<h1>Generate Reports</h1>
    <table align="center" width="100%">
        <tbody>
            <tr>
                <td/>
                <td><div class="input"><a href="/cc_options">Cluster Configs Report</a></div></td>
                <td/>
            </tr>
            <tr>
                <td/>
                <td><div class="input"><a href="/hc_options">Host Configs Report</a></div></td>
                <td/>
            </tr>
            <tr>
                <td/>
                <td><div class="input"><a href="/hosts_in_cluster_check">Check Host status in a Cluster</a></div></td>
                <td/>
            </tr>
            <tr>
                <td/>
                <td><div class="input"><a href="/hosts_details_per_status">Retrieve hosts based on status list</a></div></td>
                <td/>
            </tr>
        </tbody>
    </table>
{% endblock %}
