<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post">
{% set ns = namespace(found=false) %}
{% set ns.count = 0 %}
    <table border="1" style="color:blue;font-size:20px;" width="100%">
      <!-- table rows -->
        {% for keys in questions_to_display if questions_to_display|length > ns.count %}
            <tr>
                {% for i in range(0,cols) if ns.count < answers_to_display|length %}
                    <td align="center">&nbsp;&nbsp;&nbsp;&nbsp;{{ questions_to_display[ns.count|string][0] }} <br>
                        + &nbsp;{{ questions_to_display[ns.count|string][1] }} <br> ----------------
                        &nbsp;&nbsp;&nbsp;<p style="color:green";>Answer: {{ questions_to_display[ns.count|string][2] }}</p>  Your Answer: {{ answers_to_display[ns.count|string]}}
                        <br> ---------------- <br></td>
                    {% set ns.count = ns.count + 1 %}
                {% endfor %}
            </tr>
        {% endfor %}
    <tr><td colspan="16" align="center"><div class="buttonLeft"><button type=button onclick="window.location.href='{{ (url_for('cal_addition_within_100')) }}';">Reset</button></div></td></tr>
    <tr><td colspan="16" align="center">MARKS :  {{ marks }}</td></tr>
    </table>
</form>
</body>
</html>

